/Cach-tu-duy-va-Giao-dich-nhu-mot-nha-vo-dich-chung-khoan-Mark-Minervini-greenchart.pdf
/FoRex_Trading_Using_Supervised_Machine_Learning.pdf
/msft_data.json
/Zura Kakushadze, Juan Andrés Serur - 151 Trading Strategies-Springer International Publishing,Palgrave Macmillan (2018).pdf